.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 300px;
  min-width: 50%;
  background-color: rgba(249, 249, 249, 0.95);
  border-radius: 1rem;
  padding: 2rem;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 2rem;
}
